<h4>Cursos Creados</h4>

<table>
  <tr>
    <th> ID</th>
    <th> Profesor del Curso</th>
    <th> Nombre Curso</th>
    <th> Materia</th>
    <th> Fecha Inicio</th>
    <th> Fecha Fin</th>
    <th> Acciones</th>
  </tr>
  <tr *ngFor="let curso of cursosInscritos">
    <td> {{curso.id}}</td>
    <td> {{curso.usuario.nombre}}</td>
    <td> {{curso.nombrecurso}}</td>
    <td> {{curso.materia.nombremateria}}</td>
    <td> {{curso.fechainicio}}</td>
    <td> {{curso.fechafin}}</td>
    <td>
      <button  class="boton" (click)="irAEditarcurso(curso.id)">
        Editar
      </button>
      <button class="boton" (click)="calificarCurso(curso.id)">
        Calificar
      </button>
      <button class="boton" (click)="eliminarCurso(curso.id)">
        Eliminar
      </button>
    </td>
  </tr>
</table>

