<p>Lista de Cursos</p>

<label for="busquedaId">Busqueda</label>
<input id="busquedaId" name="busqueda" type="text" [(ngModel)]="busquedaModelo">
<button (click)="filtrarArregloCurso()">Buscar</button>

<table>
  <tr>
    <th> ID</th>
    <th> Profesor del Curso</th>
    <th> Nombre Curso</th>
    <th> Materia</th>
    <th> Fecha Inicio</th>
    <th> Fecha Fin</th>
  </tr>
  <tr *ngFor="let curso of arregloCursos">
    <td> {{curso.id}}</td>
    <td> {{curso.usuario.nombre}}</td>
    <td> {{curso.nombrecurso}}</td>
    <td> {{curso.materia.nombremateria}}</td>
    <td> {{curso.fechainicio}}</td>
    <td> {{curso.fechafin}}</td>
    <td>
      <button (click)="irAEditarcurso(curso.id)">
        Editar
      </button>
      <button (click)="eliminarCurso(curso.id)">
        Eliminar
      </button>
    </td>
  </tr>
</table>
