<form #formularioLogin="ngForm"
      (ngSubmit)="revisarLogin(formularioLogin)"
>
  <div>
    <label  for="correoId">Correo:</label>
    <input id="correoId" name="correo" [(ngModel)]="correoModelo" type="text">
  </div>
  <div>
    <label for="contraseniaId">Contraseña:</label>
    <input id="contraseniaId" name="contrasenia" [(ngModel)]="contraseniaModelo" type="password">
  </div>
  <div>
    <button class="boton">
      Ingresar
    </button>
  </div>

</form>
<router-outlet></router-outlet>
