<form #formularioUsuario="ngForm"
      (ngSubmit)="crearUsuario(formularioUsuario)"
>
  <div>
    <label for="nombreId">Nombre</label>
    <input
      id="nombreId"
      type="text"
      name="nombre"
      [(ngModel)]="nombreModelo"
      required
      minlength="10"
      maxlength="25"
      #nombreCampo="ngModel"
    >
    <div *ngIf="nombreCampo.touched&& nombreCampo.errors">
      <p class="error" *ngIf="nombreCampo.errors.required">Error:Campo requerido</p>
      <p class="error" *ngIf="nombreCampo.errors.minlength">Error:La longitud minima es de 10 caracteres</p>
      <p class="error" *ngIf="nombreCampo.errors.maxlength">Error:La longitud maxima es de 25 caracteres</p>
    </div>
  </div>

  <div>
    <label for="direccionId">Direccion</label>
    <input
      id="direccionId"
      type="text"
      name="direccion"
      [(ngModel)]="direccionModelo"
      required
      minlength="25"
      #direccionCampo="ngModel"
    >
    <div *ngIf="direccionCampo.touched&& direccionCampo.errors">
      <p class="error" *ngIf="direccionCampo.errors.required">Error:Campo requerido</p>
      <p class="error" *ngIf="direccionCampo.errors.minlength">Error:La longitud minima es de 25 caractere</p>
    </div>
  </div>

  <div>
    <label for="telefonoId">Telefono</label>
    <input id="telefonoId"
           type="text"
           name="telefono"
           minlength="10"
           [(ngModel)]="telefonoModelo"
           required
           #telefonoCampo="ngModel"
    >
    <div *ngIf="telefonoCampo.touched&& telefonoCampo.errors">
      <p class="error" *ngIf="telefonoCampo.errors.required">Error:Campo requerido</p>
      <p class="error" *ngIf="telefonoCampo.errors.minlength">Error:La longitud minima es de 10 caractere</p>
    </div>
  </div>

  <div>
    <label for="correoId">Correo Electronico</label>
    <input id="correoId"
           type="text"
           name="correo"
           [(ngModel)]="correoModelo"
           required
           #correoCampo="ngModel"
    >
    <div *ngIf="correoCampo.touched&& correoCampo.errors">
      <p class="error" *ngIf="correoCampo.errors.required">Error:Campo requerido</p>
      <p class="error" *ngIf="correoCampo.errors.type">Error:Solo se aceptan correos</p>
    </div>
  </div>

  <div>
    <label for="contraseniaId">Contrasenia</label>
    <input id="contraseniaId"
           type="password"
           name="contrasenia"
           minlength="8"
           [(ngModel)]="contraseniaModelo"
           required
           #contraseniaCampo="ngModel"
    >
    <div *ngIf="contraseniaCampo.touched&& contraseniaCampo.errors">
      <p class="error" *ngIf="contraseniaCampo.errors.required">Error:Campo requerrido</p>
      <p class="error" *ngIf="contraseniaCampo.errors.minlength">Error:La longitud minima es de 8 caractere</p>
    </div>
  </div>

  <div>
    <label for="rolId">Rol </label>
    <select name="rol" id="rolId" [(ngModel)]="rolModelo" #rolCampo="ngModel"  required
    >
      <option value="1"> Administrador</option>
      <option value="2"> Profesor</option>
      <option value="3"> Estudiante</option>
    </select>
    <div  *ngIf="rolCampo.touched&& rolCampo.errors">
      <p class="error" *ngIf="rolCampo.errors.required">Error:Campo requerido</p>
    </div>
  </div>


  <button *ngIf="_authService.estaAutenticado" class="boton" type="submit" [disabled]="!formularioUsuario.form.valid">
    Enviar
  </button>
  <button *ngIf="!_authService.estaAutenticado" class="boton" type="submit" [disabled]="!formularioUsuario.form.valid">
    Registrarse
  </button>
  <button class="boton" (click)="irALogin()">
    Cancelar
  </button>
</form>
