<form #formularioUsuario="ngForm"
      (ngSubmit)="crearMateria(formularioUsuario)"
>
  <div>
    <label for="nombremaId">Nombre Materia</label>
    <input
      id="nombremaId"
      type="text"
      name="nombremateria"
      [(ngModel)]="nombremaModelo"
      required
      minlength="10"
      maxlength="25"
      #nombremaCampo="ngModel"
    >
    <div *ngIf="nombremaCampo.touched&& nombremaCampo.errors">
      <p class="error" *ngIf="nombremaCampo.errors.required">Error:Campo requerrido</p>
      <p class="error" *ngIf="nombremaCampo.errors.minlength">Error:La longitud minima es de 10 caracteres</p>
      <p class="error" *ngIf="nombremaCampo.errors.maxlength">Error:La longitud maxima es de 25 caracteres</p>
    </div>
  </div>


  <button class="boton" type="submit" [disabled]="!formularioUsuario.form.valid">
    Crear
  </button>
  <button class="boton" type="reset">
    Limpiar
  </button>

</form>
